header {
    margin-bottom: 10vh;

    nav {
        a {
            display: block;
            padding: 1vh 1vw;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }
}

.brand {
    a {
        background: url('/assets/img/sig.svg') no-repeat center transparent;
        display: block;
        height: 38vw;
        width: 50vw;
        text-indent: -999em;

        &:hover,
        &:focus {
            outline: 0;
        }
        &:focus {
        }
    }
}
.tagline {
    font-size: 3vw;
    left: 23vw;
    line-height: 1;
    opacity: 0.25;
    position: relative;
    top: -11vw;

    .amp {
        margin-left: -0.3em;
    }
}


@media screen and (min-width: $medium-min) {
    .brand {
        a {
            height: 18vw;
            width: 24vw;
        }
    }
    .tagline {
        font-size: 3vw;
        left: 11vw;
        top: -5vw;
    }
}

@media screen and (min-width: $large-min) {
    .brand {
        a {
            height: 10vw;
            width: 13vw;
        }
    }
    .tagline {
        font-size: 1.5vw;
        left: 6vw;
        top: -3vw;
    }
}
