.client {
    .fg {
        padding-right: 0;
        padding-top: 0;

        .site-header {
            margin-bottom: 0;
            padding-top: 15vh;

            nav {
                padding: 2.25vw 0;
                top: 0;
            }
        }
    }

    a {
        color: $white;
    }

    .brand {
        a {
            height: 98px;
            margin-left: 1vw;
            opacity: 0.25;
            width: 130px;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
    .tagline {
        opacity: 0;
    }

    article {
        padding-top: 10vw;
    }
    nav.nextprev {
        clear: both;
        letter-spacing: -0.02em;
        text-align: right;

        &.upper {
            display: block;
            left: 50%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1000;

            span.preface {
                display: block;
            }
        }

        &.lower {
            margin-bottom: 4vw;
            position: relative;
        }

        a {
            display: block;
            padding: 3vw 5vw;
        }

        span:first-child {
            opacity: 0.5;
        }
        .amp {
            padding: 0 0.12em;
        }

    }
    header.client-name {
        color: $white;
        font-size: 18vw;
        letter-spacing: -0.04em;
        line-height: 0.9;
        margin-bottom: 100px;

        h1 {
            font-size: inherit;
            padding: 0 2vw;

            .amp {
                left: -0.1em;
                position: relative;
            }

            &>span {
                display: block;

                &.interstitial {
                    font-size: 50%;
                    font-style: italic;
                    letter-spacing: 0;
                    line-height: 1.333;
                    opacity: 0.5;
                }
            }
        }

        a.project {
            color: inherit;
            display: block;
            font-size: 50%;
            letter-spacing: -0.04em;
            margin-top: 0.5em;
            opacity: 0.25;
            padding-left: 2vw;

            &:hover,
            &:focus {
                opacity: 0.75;
                outline: 0;
            }
        }
    }

    .see {
        padding: 0 4vw 4vw 0;


        figure {
            margin-bottom: 4vw;
            position: relative;
            text-align: center;
            z-index: 2;

            &.under {
                z-index: 1;
            }

            &.insta {
                iframe {
                    box-shadow: 0 10px 50px rgba(0,0,0,0.1) !important;
                }
            }

            &.device,
            &.poster,
            &.floaty {
                box-shadow: 0 10px 50px rgba(0,0,0,0.1);
            }

            &.detail {
                text-align: right;

                img {
                    box-shadow: 0 10px 50px rgba(0,0,0,0.1);
                }
            }

            &.b10 {
                margin-bottom: 10px;
            }

            &.b20 {
                margin-bottom: 20px;
            }

            &.b30 {
                margin-bottom: 30px;
            }

            &.t10 {
                margin-top: 10px;
            }

            &.t20 {
                margin-top: 20px;
            }

            &.t30 {
                margin-top: 30px;
            }

            &.up10 {
                margin-top: -10px;
            }

            &.up20 {
                margin-top: -20px;
            }

            &.up30 {
                margin-top: -30px;
            }

            &.w60 {
                width: 80%;
            }

            &.w80 {
                width: 90%;
            }

            &.w90 {
                width: 95%;
            }

            &.w110 {
                width: 105%;
            }

            &.typeface {
                margin-bottom: 20px;

                &.b0 {
                    margin-bottom: 0;
                }

                &.b10 {
                    margin-bottom: 10px;
                }
            }
        }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}


@media screen and (max-width: $medium-max) {
    .client {
        .see {
            figure {
                &.w60,
                &.w80,
                &.w90 {
                    margin-left: auto;
                    margin-right: auto;
                }
                &.w60 {
                    width: 80%;
                }

                &.w80 {
                    width: 90%;
                }

                &.w90 {
                    width: 95%;
                }

                &.w110 {
                    margin-left: -2.5%;
                    margin-right: -2.5%;
                    width: 105%;
                }
            }
        }
    }
}


@media screen and (min-width: $large-min) {
    .client {
        .site-header {
            height: 13vw;
            max-width: 50vw;
        }
        .brand {
            left: 5vw;
            position: fixed;
            top: 13vh;
            z-index: 9999;

            a {
                // height: 6vw;
                margin-left: 0;
                // width: 8vw;
            }
        }
        header.client-name {
            font-size: $font-size-large*2;
            left: 0;
            position: fixed;
            top: 30vh;

            h1,
            a.project {
                padding-left: 5vw;
            }
        }
        nav.nextprev {
            &.upper {
                span.preface {
                    display: inline-block;
                    margin-right: 0.15em;
                }
            }
            &.lower {
                margin-bottom: 0;
                margin-left: -5vw;

                a.prev {
                    float: left;
                    text-align: left;
                }
                a.next {
                    float: right;
                }
            }
        }
        .see {
            float: right;
            width: 50vw;

            figure {
                &.b10 {
                    margin-bottom: 10vw;
                }

                &.b20 {
                    margin-bottom: 20vw;
                }

                &.b30 {
                    margin-bottom: 30vw;
                }

                &.t10 {
                    margin-top: 10vw;
                }

                &.t20 {
                    margin-top: 20vw;
                }

                &.t30 {
                    margin-top: 30vw;
                }

                &.up10 {
                    margin-top: -10vw;
                }

                &.up20 {
                    margin-top: -20vw;
                }

                &.up30 {
                    margin-top: -30vw;
                }

                &.w60 {
                    width: 60%;
                }

                &.w80 {
                    width: 80%;
                }

                &.w90 {
                    width: 90%;
                }

                &.w110 {
                    width: 110%;
                }

                &.l {
                    left: -2vw;
                    position: relative;
                }

                &.r {
                    position: relative;
                    right: -2vw;

                    &.document {
                        margin-left: auto;
                        margin-right: -5.5vw;
                    }

                    &.w60 {
                        right: -12vw;
                    }
                }

                &.typeface {
                    margin-bottom: 15vw;

                    &.b10 {
                        margin-bottom: 10vw;
                    }
                }
            }
        }
    }
}


.client-ie {
    background-color: $bg-client-ie;

    nav.lower {
        background-color: rgba($bg-client-ie, 0.925);
    }
}

.client-gk {
    background-color: $bg-client-gk;

    nav.lower {
        background-color: rgba($bg-client-gk, 0.925);
    }
}

.client-batc {
    background-color: $bg-client-batc;

    header.client-name,
    nav.nextprev a {
        color: $black;
    }

    nav.lower {
        background-color: rgba($bg-client-batc, 0.925);
    }
}

.client-raven {
    background-color: $bg-client-raven;

    nav.lower {
        background-color: rgba($bg-client-raven, 0.925);
    }
}

.client-nb {
    background-color: $bg-client-nb;

    nav.lower {
        background-color: rgba($bg-client-nb, 0.925);
    }
}

.client-bfmn {
    background-color: $bg-client-bfmn;

    nav.lower {
        background-color: rgba($bg-client-bfmn, 0.925);
    }
}

.client-vork {
    background-color: $bg-client-vork;

    nav.lower {
        background-color: rgba($bg-client-vork, 0.925);
    }
}

.client-sb {
    background-color: $bg-client-sb;

    nav.lower {
        background-color: rgba($bg-client-sb, 0.925);
    }
}

.client-vital {
    background-color: $bg-client-vital;

    header.client-name,
    nav.nextprev a {
        color: $black;
    }
    nav.lower {
        background-color: rgba($bg-client-vital, 0.925);
    }
}

.client-rt {
    background-color: $bg-client-rt;

    nav.lower {
        background-color: rgba($bg-client-rt, 0.925);
    }
}

.client-oa {
    background-color: $bg-client-oa;

    nav.lower {
        background-color: rgba($bg-client-oa, 0.925);
    }
}

.client-mp {
    background-color: $bg-client-mp;

    nav.lower {
        background-color: rgba($bg-client-mp, 0.925);
    }
}

.client-keva {
    background-color: $bg-client-keva;

    nav.lower {
        background-color: rgba($bg-client-keva, 0.925);
    }
}
