.clients {
    h2 {
        color: $black;
        font-size: 25vw;
        letter-spacing: -0.03em;
        line-height: 0.8;
        max-width: 50vw;
        opacity: 0.05;
    }
}


ul.client-list {
    margin-bottom: 8vw;
    margin-top: 4vw;
    position: relative;
    z-index: 1;

    a {
        color: rgba($black, 0.6);
        display: inline-block;
        font-size: 11vw;
        line-height: 1;
        margin: 10px 0;
        padding-bottom: 7px;
        padding-top: 7px;
        position: relative;

        &:hover,
        &:focus {
            color: $black;
            outline: 0;
        }
    }
}

.client-hover {
    ul.client-list {
        li.batc,
        li.vital {
            a {
                &:hover,
                &:focus {
                    color: $black;
                }
            }
        }
        a {
            opacity: 0.3;

            &:hover,
            &:focus {
                color: $white;
                opacity: 1 !important;
            }
        }
    }
}

@media screen and (min-width: $large-min) {
    .clients {
        h2 {
            font-size: 15vw;
        }
    }
    ul.client-list {
        a {
            font-size: 6vw;
            margin: 1vw 11vw 1vw 0;
        }
    }
}
