.clients {
    .fg {
        padding: 10vh 5vw 10vh;
    }
    h2 {
        font-size: 13vw;
        letter-spacing: -0.03em;
        line-height: 0.8;
        max-width: 50vw;
        opacity: 0.1;
    }
}


ul.client-list {
    margin-bottom: 8vw;
    margin-top: 4vw;
    position: relative;
    z-index: 1;

    a {
        display: inline-block;
        font-size: $font-size-large-static;
        line-height: 1.1;
        margin: 10px 0;
        // opacity: 0.6;
        padding-bottom: 7px;
        padding-top: 7px;
        position: relative;

        &:hover,
        &:focus {
            opacity: 1;
            outline: 0;
        }
    }

    .ie a:before {
        background-color: rgba($bg-client-ie, $client-list-hover-opacity);
    }
    .gk a:before {
        background-color: rgba($bg-client-gk, $client-list-hover-opacity);
    }
    .batc a:before {
        background-color: rgba($bg-client-batc, $client-list-hover-opacity);
    }
    .raven a:before {
        background-color: rgba($bg-client-raven, $client-list-hover-opacity);
    }
    .nb a:before {
        background-color: rgba($bg-client-nb, $client-list-hover-opacity);
    }
    .bfmn a:before {
        background-color: rgba($bg-client-bfmn, $client-list-hover-opacity);
    }
    .vork a:before {
        background-color: rgba($bg-client-vork, $client-list-hover-opacity);
    }
    .sb a:before {
        background-color: rgba($bg-client-sb, $client-list-hover-opacity);
    }
    .vital a:before {
        background-color: rgba($bg-client-vital, $client-list-hover-opacity);
    }
    .rt a:before {
        background-color: rgba($bg-client-rt, $client-list-hover-opacity);
    }
    .oa a:before {
        background-color: rgba($bg-client-oa, $client-list-hover-opacity);
    }
    .mp a:before {
        background-color: rgba($bg-client-mp, $client-list-hover-opacity);
    }
    .keva a:before {
        background-color: rgba($bg-client-keva, $client-list-hover-opacity);
    }
}

@media screen and (min-width: $large-min) {
    ul.client-list {
        // margin-top: 31vw;
        // max-width: 50vw;

        a {
            font-size: 5vw;
            margin: 1vw $font-size-large-static 1vw 0;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}
