.clients {
    .fg {
        padding: 10vh 5vw 10vh;
    }
    h2 {
        color: $black;
        font-size: 13vw;
        letter-spacing: -0.03em;
        line-height: 0.8;
        max-width: 50vw;
        opacity: 0.05;
    }
}


ul.client-list {
    margin-bottom: 8vw;
    margin-top: 4vw;
    position: relative;
    z-index: 1;

    a {
        color: rgba($black, 0.6);
        display: inline-block;
        font-size: $font-size-large-static;
        line-height: 1.1;
        margin: 10px 0;
        padding-bottom: 7px;
        padding-top: 7px;
        position: relative;

        &:hover,
        &:focus {
            color: $white;
            opacity: 1 !important;
            outline: 0;
        }
    }
}

.client-hover {
    ul.client-list {
        a {
            opacity: 0.3;
        }
    }
}

@media screen and (min-width: $large-min) {
    ul.client-list {
        a {
            font-size: 5vw;
            margin: 1vw $font-size-large-static 1vw 0;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}
