.home {
    .fg {
        min-height: 100vh;
        padding: 10vh 5vw 10vh;
    }
    header {
        nav {
            font-size: 2vw;
        }
    }
    .intro {
        color: $grey-pale;
        margin-top: 7vh;
        font-size: 7vw;
    }
    .tagline {
        display: none;
    }
}

@media screen and (min-width: $medium-min) {
    .home {
        .fg {
            min-height: 100vh;
            padding-top: 30vh;
        }
        .intro {
            font-size: 5vw;
            margin-top: 12vh;
            max-width: 85vw;
        }
    }
}

@media screen and (min-width: $large-min) {
    .home {
        .intro {
            font-size: 4vw;
        }
    }
}
