* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

html {
    font-size: 10px;
}

body {
    animation-play-state: running;
    background-color: $bg;
    color: $text-default;
    font-family: $serif;
    @include font-size(18);
    font-weight: 700;
    letter-spacing: -0.015em;
    transition: background-color 1s;

    @media screen and (min-width: $large-min) {
        letter-spacing: -0.04em;
    }
}

.wrap {
    overflow: hidden;
}

.fg {
    background-color: transparent;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: auto 75vh;
    min-height: 100vh;
    padding: 15vh 5vw 0;
    position: relative;
    transition: $transition-slow;
    z-index: 2;
}

.amp {
    font-style: italic;
}

ul {
    list-style: none;
}

a {
    color: $grey-darker;
    text-decoration: none;
    transition: $transition-default;

    &:hover,
    &:focus {
        color: $black;
    }
}



footer {
    color: rgba($black, 0.3);
    letter-spacing: -0.01em;
    padding-bottom: 10vh;
    padding-top: 12vh;
    position: relative;
    z-index: 1;
}
