.me {
    .about {
        color: darken($grey-pale, 10%);
        font-size: calc(2rem + 1vw);
        margin-bottom: 7vh;
        position: relative;
        z-index: 10;

        p {
            margin-bottom: 1em;
        }
    }
    aside {
        margin-bottom: 15vh;
        margin-right: -6vw;
        margin-top: 5vh;
    }
    figure {
        height: 80vh;
        margin-bottom: -10vh;
        margin-left: -5vw;
        position: relative;

        img {
            display: block;
            height: 100%;
            width: auto;
        }
    }
    footer {
        display: none;
    }
}


@media screen and (min-width: $medium-min) {
    .me {
        .brand {
            left: 5vw;
            position: fixed;
            top: 15vh;
            z-index: 9999;
        }

        .about {
            color: $grey-pale;
            float: right;
            width: 50vw;
        }

        figure {
            bottom: 0;
            height: auto;
            left: 0;
            margin-bottom: 0;
            margin-left: 0;
            position: fixed;
            width: 42vw;

            img {
                display: block;
                height: auto;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: $large-min) {
    .me {
        .about {
            font-size: calc(2rem + 2vw);
        }

        figure {
            height: 65vh;
            width: auto;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }
    }
}
