.project {
    .fg {
        padding-right: 0;

        .site-header {
            margin-bottom: 0;
            padding-top: 15vh;
        }
    }

    a {
        color: $white;
    }

    .brand {
        a {
            height: 98px;
            margin-left: 1vw;
            opacity: 0.25;
            width: 130px;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
    .tagline {
        opacity: 0;
    }

    article {
        padding-top: 10vw;
    }
    nav.nextprev {
        clear: both;
        letter-spacing: -0.02em;
        text-align: right;

        &.upper {
            display: block;
            left: 50%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1000;

            span.preface {
                display: block;
            }
        }

        &.lower {
            margin-bottom: 4vw;
            position: relative;
        }

        a {
            display: block;
            padding: 3vw 5vw;
        }

        span:first-child {
            opacity: 0.5;
        }
        .amp {
            padding: 0 0.12em;
        }

    }
    header.project-name {
        color: $white;
        font-size: 18vw;
        letter-spacing: -0.04em;
        line-height: 0.9;
        margin-bottom: 100px;

        h1 {
            font-size: inherit;
            padding: 0 2vw;

            .amp {
                left: -0.1em;
                position: relative;
            }

            &>span {
                display: block;

                &.interstitial,
                .interstitial {
                    font-size: 50%;
                    font-style: italic;
                    letter-spacing: 0;
                    line-height: 1.333;
                    opacity: 0.5;
                }
            }
        }

        a.project {
            color: inherit;
            display: block;
            font-size: 50%;
            letter-spacing: -0.04em;
            margin-top: 0.5em;
            opacity: 0.25;
            padding-left: 2vw;

            &:hover,
            &:focus {
                opacity: 0.75;
                outline: 0;
            }
        }
    }

    .see {
        padding: 0 4vw 4vw 0;
        text-align: center;

        p {
            color: $text-transparent--white;
            font-size: calc(3rem + 1vw);
            margin-bottom: 2em;
            text-align: left;
        }

        aside {
            text-align: left;
        }

        figure {
            margin-bottom: 4vw;
            position: relative;
            text-align: center;
            z-index: 2;

            &.under {
                z-index: 1;
            }

            &.insta {
                iframe {
                    box-shadow: 0 10px 50px rgba(0,0,0,0.1) !important;
                }
            }

            &.device,
            &.poster,
            &.floaty {
                box-shadow: 0 10px 50px rgba(0,0,0,0.1);
            }

            &.detail {
                text-align: right;

                img {
                    box-shadow: 0 10px 50px rgba(0,0,0,0.1);
                }
            }

            &.b10 {
                margin-bottom: 10px;
            }

            &.b20 {
                margin-bottom: 20px;
            }

            &.b30 {
                margin-bottom: 30px;
            }

            &.t10 {
                margin-top: 10px;
            }

            &.t20 {
                margin-top: 20px;
            }

            &.t30 {
                margin-top: 30px;
            }

            &.up10 {
                margin-top: -10px;
            }

            &.up20 {
                margin-top: -20px;
            }

            &.up30 {
                margin-top: -30px;
            }

            &.w60 {
                max-width: 80%;
            }

            &.w80 {
                max-width: 90%;
            }

            &.w90 {
                max-width: 95%;
            }

            &.w110 {
                max-width: 105%;
            }

            &.typeface {
                margin-bottom: 20px;

                &.b0 {
                    margin-bottom: 0;
                }

                &.b10 {
                    margin-bottom: 10px;
                }
            }
        }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}


@media screen and (max-width: $medium-max) {
    .project {
        .see {
            figure {
                &.w60,
                &.w80,
                &.w90 {
                    margin-left: auto;
                    margin-right: auto;
                }
                &.w60 {
                    max-width: 80%;
                }

                &.w80 {
                    max-width: 90%;
                }

                &.w90 {
                    max-width: 95%;
                }

                &.w110 {
                    margin-left: -2.5%;
                    margin-right: -2.5%;
                    max-width: 105%;
                }
            }
        }
    }
}


@media screen and (min-width: $large-min) {
    .project {
        .site-header {
            height: 13vw;
            max-width: 50vw;
        }
        .brand {
            left: 5vw;
            position: fixed;
            top: 13vh;
            z-index: 9999;

            a {
                // height: 6vw;
                margin-left: 0;
                // width: 8vw;
            }
        }
        header.project-name {
            font-size: $font-size-large*2;
            left: 0;
            position: fixed;
            top: 30vh;

            h1,
            a.project {
                padding-left: 5vw;
            }
        }
        nav.nextprev {
            &.upper {
                span.preface {
                    display: inline-block;
                    margin-right: 0.15em;
                }
            }
            &.lower {
                margin-bottom: 0;
                margin-left: -5vw;

                a.prev {
                    float: left;
                    text-align: left;
                }
                a.next {
                    float: right;
                }
            }
        }
        .see {
            float: right;
            width: 50vw;

            figure {
                &.b10 {
                    margin-bottom: 10vw;
                }

                &.b20 {
                    margin-bottom: 20vw;
                }

                &.b30 {
                    margin-bottom: 30vw;
                }

                &.t10 {
                    margin-top: 10vw;
                }

                &.t20 {
                    margin-top: 20vw;
                }

                &.t30 {
                    margin-top: 30vw;
                }

                &.up10 {
                    margin-top: -10vw;
                }

                &.up20 {
                    margin-top: -20vw;
                }

                &.up30 {
                    margin-top: -30vw;
                }

                &.w60 {
                    max-width: 60%;
                }

                &.w80 {
                    max-width: 80%;
                }

                &.w90 {
                    max-width: 90%;
                }

                &.w110 {
                    max-width: 110%;
                }

                &.l {
                    left: -2vw;
                    position: relative;
                }

                &.r {
                    position: relative;
                    right: -2vw;

                    &.document {
                        margin-left: auto;
                        margin-right: -5.5vw;
                    }

                    &.w60 {
                        right: -12vw;
                    }
                }

                &.typeface {
                    margin-bottom: 15vw;

                    &.b10 {
                        margin-bottom: 10vw;
                    }
                }
            }
        }
    }
}


.project-rinse,
.projects--rinse-hover {
    background-color: $bg-project-rinse;

    nav.lower,
    footer {
        background-color: rgba($bg-project-rinse, 0.925);
    }
}

.project-tecweigh,
.projects--tecweigh-hover {
    background-color: $bg-project-tecweigh;

    nav.lower,
    footer {
        background-color: rgba($bg-project-tecweigh, 0.925);
    }
}

.project-parade,
.projects--parade-hover {
    background-color: $bg-project-parade;

    nav.lower,
    footer {
        background-color: rgba($bg-project-parade, 0.925);
    }
}

.project-qara,
.projects--qara-hover {
    background-color: $bg-project-qara;

    header.project-name,
    nav.nextprev a {
        color: $black;
    }

    .see p {
        color: $text-transparent--black;
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-qara, 0.925);
    }
}

.project-ie,
.projects--ie-hover {
    background-color: $bg-project-ie;

    .see p {
        color: $text-transparent--black;
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-ie, 0.925);
    }
}

.project-gk,
.projects--gk-hover {
    background-color: $bg-project-gk;

    nav.lower,
    footer {
        background-color: rgba($bg-project-gk, 0.925);
    }
}

.project-strom,
.projects--strom-hover {
    background-color: $bg-project-strom;

    nav.lower,
    footer {
        background-color: rgba($bg-project-strom, 0.925);
    }
}

.project-artisan,
.projects--artisan-hover {
    background-color: $bg-project-artisan;

    header.project-name,
    nav.nextprev a {
        color: $black;
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-artisan, 0.925);
    }
}

.project-raven,
.projects--raven-hover {
    background-color: $bg-project-raven;

    .see p {
        color: $text-transparent--black;

        a {
            color: $grey-darkest;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-raven, 0.925);
    }
}

.project-qc,
.projects--qc-hover {
    background-color: $bg-project-qc;

    .see p {
        color: $text-transparent--black;
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-qc, 0.925);
    }
}

.project-nb,
.projects--nb-hover {
    background-color: $bg-project-nb;

    .see p {
        color: $text-transparent--black;

        a {
            color: $grey-darkest;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-nb, 0.925);
    }
}

.project-medg,
.projects--medg-hover {
    background-color: $bg-project-medg;

    nav.lower,
    footer {
        background-color: rgba($bg-project-medg, 0.925);
    }
}

.project-bfmn,
.projects--bfmn-hover {
    background-color: $bg-project-bfmn;

    nav.lower,
    footer {
        background-color: rgba($bg-project-bfmn, 0.925);
    }
}

.project-vork,
.projects--vork-hover {
    background-color: $bg-project-vork;

    nav.lower,
    footer {
        background-color: rgba($bg-project-vork, 0.925);
    }
}

.project-sb,
.projects--sb-hover {
    background-color: $bg-project-sb;

    nav.lower,
    footer {
        background-color: rgba($bg-project-sb, 0.925);
    }
}

.project-vital,
.projects--vital-hover {
    background-color: $bg-project-vital;

    header.project-name,
    nav.nextprev a {
        color: $black;
    }

    .see p {
        color: $text-transparent--black;

        a {
            color: $grey-darkest;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }

    nav.lower,
    footer {
        background-color: rgba($bg-project-vital, 0.925);
    }
}

.project-rt,
.projects--rt-hover {
    background-color: $bg-project-rt;

    nav.lower,
    footer {
        background-color: rgba($bg-project-rt, 0.925);
    }
}

.project-oa,
.projects--oa-hover {
    background-color: $bg-project-oa;

    nav.lower,
    footer {
        background-color: rgba($bg-project-oa, 0.925);
    }
}

.project-mp,
.projects--mp-hover {
    background-color: $bg-project-mp;

    nav.lower,
    footer {
        background-color: rgba($bg-project-mp, 0.925);
    }
}

.project-keva,
.projects--keva-hover {
    background-color: $bg-project-keva;

    nav.lower,
    footer {
        background-color: rgba($bg-project-keva, 0.925);
    }
}
