.projects {
    h2 {
        color: $black;
        font-size: 19vw;
        letter-spacing: -0.03em;
        line-height: 0.8;
        max-width: 5em;
        opacity: 0.2;

        @media screen and (min-width: $medium-min) {
            opacity: 0.05;
        }
    }
    footer {
        background-color: transparent !important;
    }
}


.project-list {
    margin-bottom: 8vw;
    margin-top: 4vw;
    position: relative;
    z-index: 1;

    a {
        color: rgba($black, 0.6);
        display: inline-block;
        font-size: calc(4rem + 3vw);
        line-height: 1;
        margin: 10px 0;
        padding-bottom: 7px;
        padding-top: 7px;
        position: relative;

        &:hover,
        &:focus {
            color: $black;
            outline: 0;
        }

        @media screen and (min-width: $large-min) {
            font-size: calc(6rem + 2vw);
            margin: 1vw 11vw 1vw 0;
        }

        @media screen and (min-width: $wide-min) {
            font-size: calc(6rem + 2vw);
            margin: 1vw 11vw 2vw 0;
        }
    }
}

.projects-hover {
    .project-list {
        li.qara,
        li.batc,
        li.vital {
            a {
                &:hover,
                &:focus {
                    color: $black;
                }
            }
        }
        a {
            opacity: 0.3;

            &:hover,
            &:focus {
                color: $white;
                opacity: 1 !important;
            }
        }
    }
}
