RewriteEngine On

# time travel
Redirect 301 /me/ /
Redirect 301 /david/ /
Redirect 302 /david-simmer/ /
Redirect 301 /clients/ /work/

# redirect to current resume file
Redirect 302 /resume /assets/files/davidsimmer-resume.pdf
# remove that pesky trailing slash
Redirect 302 /assets/files/davidsimmer-resume.pdf/ /assets/files/davidsimmer-resume.pdf

# directory structure, remove file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R,L]

# pretty 404s
ErrorDocument 404 /ps.html
