.bg {
    background-image: url('../img/brand.svg');
    background-position: -320vh -200vh;
    background-repeat: no-repeat;
    background-size: 1200vh auto;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.8;
    right: 0;
    top: 0;
    transition: all 650ms cubic-bezier(.41,.03,.37,1);
    z-index: 1;
}

.home {
    .bg {
        position: fixed;
    }
}

.client {
    .bg {
        background-position: -0.6vw -0.6vw;
        background-size: 130px auto;
        opacity: 0.25;
        // transition: all 50ms cubic-bezier(0,0,0,1);
        transition: all 450ms ease-out;
    }
}

@media screen and (min-width: $large-min) {
    .bg {
        background-position: -350vw -200vw;
        background-size: 1300vw auto;
    }
    .client {
        .bg {
            background-size: 12vw auto;
            position: fixed;
        }
    }
}
