ul.clients {
    .ie a:before {
        background-color: rgba($bg-client-ie, $client-list-hover-opacity);
    }
    .gk a:before {
        background-color: rgba($bg-client-gk, $client-list-hover-opacity);
    }
    .batc a:before {
        background-color: rgba($bg-client-batc, $client-list-hover-opacity);
    }
    .raven a:before {
        background-color: rgba($bg-client-raven, $client-list-hover-opacity);
    }
    .nb a:before {
        background-color: rgba($bg-client-nb, $client-list-hover-opacity);
    }
    .bfmn a:before {
        background-color: rgba($bg-client-bfmn, $client-list-hover-opacity);
    }
    .vork a:before {
        background-color: rgba($bg-client-vork, $client-list-hover-opacity);
    }
    .sb a:before {
        background-color: rgba($bg-client-sb, $client-list-hover-opacity);
    }
    .vital a:before {
        background-color: rgba($bg-client-vital, $client-list-hover-opacity);
    }
    .rt a:before {
        background-color: rgba($bg-client-rt, $client-list-hover-opacity);
    }
    .oa a:before {
        background-color: rgba($bg-client-oa, $client-list-hover-opacity);
    }
    .jb a:before {
        background-color: rgba($bg-client-jb, $client-list-hover-opacity);
    }
    .keva a:before {
        background-color: rgba($bg-client-keva, $client-list-hover-opacity);
    }
}



.client {
    article {
        padding-top: 20vw;
    }
    nav {
        clear: both;
        letter-spacing: -0.02em;
        text-align: right;

        &.upper {
            display: none;
        }
        &.lower {
            margin-bottom: 4vw;
        }

        a {
            display: block;
            padding: 3vw 4vw;
        }

        span:first-child {
            opacity: 0.5;
        }
        .amp {
            padding: 0 0.12em;
        }

    }
    .bg {
        background-position: -0.6vw -0.6vw;
        background-size: 100px auto;
        opacity: 0.25;
        // transition: all 50ms cubic-bezier(0,0,0,1);
        transition: all 450ms ease-out;
    }
    .brand {
        z-index: 999;

        a {
            height: 70px;
            opacity: 0;
            transition: all 250ms;
            transition-delay: unset;
            width: 110px;
        }
    }
    .tagline {
        opacity: 0 !important;
    }
    header {
        color: $white;
        font-size: $font-size-large-static*2;
        letter-spacing: -0.04em;
        line-height: 0.9;
        margin-bottom: 100px;

        h1 {
            font-size: inherit;
            padding: 0 4vw;

            .amp {
                left: -0.1em;
                position: relative;
            }

            &>span {
                display: block;

                &.interstitial {
                    font-size: 50%;
                    font-style: italic;
                    letter-spacing: 0;
                    line-height: 1.333;
                    opacity: 0.5;
                }
            }
        }

        a.project {
            color: inherit;
            display: block;
            font-size: 50%;
            letter-spacing: -0.04em;
            opacity: 0.25;
            padding-left: 4vw;

            &:hover,
            &:focus {
                opacity: 0.75;
                outline: 0;
            }
        }
    }

    .see {
        padding: 0 4vw 4vw;

        figure {
            margin-bottom: 4vw;
            position: relative;
            z-index: 1;

            &.insta {
                iframe {
                    box-shadow: 0 10px 50px rgba(0,0,0,0.1) !important;
                }
            }

            &.device,
            &.poster,
            &.floaty {
                box-shadow: 0 10px 50px rgba(0,0,0,0.1);
            }

            &.b10 {
                margin-bottom: 10vw;
            }

            &.b20 {
                margin-bottom: 20vw;
            }

            &.t10 {
                margin-top: 10vw;
            }

            &.t20 {
                margin-top: 20vw;
            }

            &.t30 {
                margin-top: 30vw;
            }

            &.up10 {
                margin-top: -10vw;
            }

            &.up20 {
                margin-top: -20vw;
            }

            &.up30 {
                margin-top: -30vw;
            }

            &.w80 {
                width: 80%;
            }

            &.w90 {
                width: 90%;
            }

            &.w110 {
                width: 110%;
            }

            &.l {
                left: -2vw;
                position: relative;
            }

            &.r {
                position: relative;
                right: -2vw;

                &.document {
                    margin-left: auto;
                    margin-right: -5.5vw;
                }
            }

            &.typeface {
                margin-bottom: 15vw;
            }
        }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }
}


@media screen and (min-width: $large-min) {
    .client {
        .bg {
            background-size: 12vw auto;
            position: fixed;
        }
        .brand {
            left: 0;
            position: fixed;
            top: 0;

            a {
                height: 8vw;
                width: 13vw;
            }
        }
        header {
            font-size: $font-size-large*2;
            left: 0;
            position: fixed;
            top: 30vh;

            h1 {

            }
        }
        nav {
            &.upper {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
            &.lower {
                margin-bottom: 0;

                a.prev {
                    float: left;
                    text-align: left;
                }
                a.next {
                    float: right;
                }
            }
        }
        .see {
            float: right;
            width: 50vw;
        }
    }
}


.client-ie {
    background-color: $bg-client-ie;
}

.client-gk {
    background-color: $bg-client-gk;
}

.client-batc {
    background-color: $bg-client-batc;

    header,
    nav a {
        color: $black;
    }
}

.client-raven {
    background-color: $bg-client-raven;
}

.client-nb {
    background-color: $bg-client-nb;
}

.client-bfmn {
    background-color: $bg-client-bfmn;
}

.client-vork {
    background-color: $bg-client-vork;
}

.client-sb {
    background-color: $bg-client-sb;
}

.client-vital {
    background-color: $bg-client-vital;

    header,
    nav a {
        color: $black;
    }
}

.client-rt {
    background-color: $bg-client-rt;
}

.client-oa {
    background-color: $bg-client-oa;
}

.client-jb {
    background-color: $bg-client-jb;
}

.client-keva {
    background-color: $bg-client-keva;
}



