* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: $white;
    text-decoration: none;
    transition: $transition-default;
}


body {
    background-color: $bg;
    color: $text-default;
    font-family: $serif;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.bg {
    background: url('../img/s2.jpg') no-repeat center center $bg;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.fg {
    position: relative;
    z-index: 2;
}

.amp {
    font-style: italic;
}

.brand {
    margin-bottom: 10vw;
    position: relative;

    a {
        background-color: rgba($white, 0.1);
        // background-size: 100% auto;
        display: block;
        height: 160px;
        mask-image: url('../img/brand.svg');
        mask-position: 0 0;
        mask-repeat: no-repeat;
        mask-size: 100% auto;
        // opacity: 0.07;
        text-indent: -999em;
        transition: $transition-slow;
        width: 250px;

        &:hover,
        &:focus {
            background-color: rgba($white, 0.2);
            // opacity: 0.1;
            outline: 0;

            & + .tagline-container .tagline {
                opacity: 0.75;
            }
        }
        &:focus {
            background-color: rgba($green, 0.7);
        }
    }

    .tagline-container {
        bottom: 50px;
        left: 0;
        pointer-events: none;
        position: absolute;
        transition: transform 1800ms ease-out, opacity 1800ms ease-out;
        transition-delay: 700ms;
    }
    .tagline {
        color: $white;
        font-size: $font-size-large-static;
        font-weight: 600;
        line-height: 0.9;
        padding-left: $font-size-large-static;
        opacity: .5;
        transition: $transition-default;

        .amp {
            margin-left: -0.4em;
        }
    }
}



ul.clients {
    a {
        color: $white;
        display: inline-block;
        font-size: $font-size-large-static;
        margin: 5px 0;
        opacity: 0.6;
        padding-bottom: 5px;
        padding-left: $font-size-large-static;
        padding-top: 5px;
        position: relative;

        &:before {
            background-color: rgba($black, 0.5);
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0.3;
            position: absolute;
            right: 1vw;
            top: 0;
            transform: translateX(-100%);
            transition: all 500ms ease-out;
            will-change: transform;
            z-index: -1;
        }

        &:hover,
        &:focus {
            opacity: 1;
            outline: 0;

            &:before {
                opacity: 1;
                transform: translateX(0);
            }
        }
        &:focus {
            &:before {
                background-color: rgba($green, 0.5);
            }
        }
    }
}


footer {
    margin-top: 10vw;
    padding: 0 $font-size-large-static $font-size-large-static;

    .contact {
        font-size: $font-size-large-static;

        a {
            opacity: 0.2;

            &:hover,
            &:focus {
                opacity: 0.5;
                outline: 0;
            }
        }
    }
}


@media screen and (min-width: $medium-min) {
    .brand {
        a {
            height: 26vw;
            width: 40vw;
        }
        .tagline-container {
            bottom: auto;
            left: 22vw;
            top: 5vw;
        }
        .tagline {
            color: $white;
            font-size: $font-size-large;
            opacity: .4;
            padding-left: $font-size-large;
        }
    }
    ul.clients {
        a {
            font-size: $font-size-large;
            margin: 1vw 0;
            padding-bottom: 0;
            padding-left: $font-size-large;
            padding-top: 0;
        }
    }
    footer {
        padding: 0 $font-size-large $font-size-large;

        .contact {
            font-size: $font-size-large;
        }
    }
}
