* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

html {
    font-size: 10px;
}

body {
    background-color: $bg;
    color: $text-default;
    font-family: $serif;
    @include font-size(18);
    font-weight: 700;
    letter-spacing: -0.04em;
    transition: background-color 1s;
}

.wrap {
    overflow-x: hidden;
}

.bg {
    background: url('../img/brand.svg') no-repeat -320vw -200vw;
    background-size: 1200vw auto;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.8;
    right: 0;
    top: 0;
    transition: all 650ms cubic-bezier(.41,.03,.37,1);
    z-index: 1;
}

.fg {
    position: relative;
    z-index: 2;
}

.amp {
    font-style: italic;
}

.brand {
    position: relative;
    transition: $transition-slow;

    a {
        // background: url('../img/brand.svg') no-repeat 2vw 4vw transparent;
        background-color: $black;
        background-size: 100% auto;
        display: block;
        height: 210px;
        mask-image: url('../img/brand.svg');
        mask-position: -1.7vw -2vw;
        mask-repeat: no-repeat;
        mask-size: 100% auto;
        // opacity: 0.15;
        position: relative;
        text-indent: -999em;
        transition: background-color 150ms opacity 150ms;
        width: 250px;

        &:hover,
        &:focus {
            background-color: $black;
            // opacity: 1;
            outline: 0;

            // & + .tagline-container .tagline {
            //     opacity: 0.75;
            // }
        }
        &:focus {
            // background-color: rgba($white, 0.9);
        }
    }

    .tagline-container {
        bottom: 50px;
        left: 0;
        pointer-events: none;
        position: absolute;
        transition: transform 1800ms ease-out, opacity 1800ms ease-out;
        transition-delay: 700ms;
    }
    .tagline {
        color: $white;
        font-size: $font-size-large-static*.75;
        font-weight: 600;
        line-height: 0.9;
        padding-left: $font-size-large-static;
        opacity: .55;
        transition: $transition-default;

        .amp {
            margin-left: -0.4em;
        }
    }
}


ul {
    list-style: none;
}
a {
    color: $white;
    text-decoration: none;
    transition: $transition-default;
}



.home {
    .bg {
        position: fixed;
    }
    .brand {
        a {
            transition: opacity 2500ms ease-out;
            transition-delay: 650ms;
        }
    }
}


ul.clients {
    margin-bottom: 8vw;
    margin-top: 4vw;

    a {
        color: $white;
        display: inline-block;
        font-size: $font-size-large-static;
        margin: 5px 0;
        opacity: 0.6;
        padding-bottom: 5px;
        padding-left: $font-size-large-static;
        padding-top: 5px;
        position: relative;

        &:before {
            background-color: rgba($black, 0.5);
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0.3;
            position: absolute;
            right: 1vw;
            top: 0;
            transform: translateX(-100%);
            transition: all 500ms ease-out;
            will-change: transform;
            z-index: -1;
        }

        &:hover,
        &:focus {
            opacity: 1;
            outline: 0;

            &:before {
                opacity: 1;
                transform: translateX(0);
            }
        }
        &:focus {
            &:before {
                background-color: rgba($green, 0.5);
            }
        }
    }
}


footer {
    display: none;

    margin-top: 10vw;
    padding: 0 $font-size-large-static $font-size-large-static;

    .contact {
        font-size: $font-size-large-static;

        a {
            opacity: 0.2;

            &:hover,
            &:focus {
                opacity: 0.5;
                outline: 0;
            }
        }
    }
}


@media screen and (min-width: $large-min) {
    .brand {
        a {
            height: 27vw;
            width: 30vw;
        }
        .tagline-container {
            bottom: auto;
            left: 14.5vw;
            top: 3vw;
        }
        .tagline {
            color: $white;
            font-size: $font-size-large*.75;
            opacity: .15;
            padding-left: $font-size-large;
        }
    }
    ul.clients {
        a {
            font-size: $font-size-large;
            margin: 1vw 0;
            padding-bottom: 0;
            padding-left: $font-size-large;
            padding-top: 0;
        }
    }
    footer {
        padding: 0 $font-size-large $font-size-large;

        .contact {
            font-size: $font-size-large;
        }
    }
}
