$black: #000;
$grey-darkest: #252525;
$grey-darker: #494E55;
$grey-mid: #9CA09F;
$grey-light: #9CA09F;
$white: #FFF;

$green: #70D63D;

$bg: $grey-darkest;
$text-default: $grey-mid;

$font-size-large: 4.5vw;

$serif: "freight-display-pro";
$sans: "freight-sans-pro";

$transition-default: all 0.15s;
