$black: #000;
$grey-darkest: #111;
$grey-darker: #5E5F60;
$grey-mid: #7C807F;
$grey-light: #9CA09F;
$grey-pale: #ced0cf;
$white: #FFF;

$green: #70D63D;

$bg: $white;
$text-default: $grey-mid;

$font-size-large-static: 30px;
$font-size-large: 4vw;

$serif: "freight-display-pro";
$sans: "freight-sans-pro";

$transition-default: all 350ms ease;
$transition-slow: all 500ms ease-out;


$small-max: 699px;
$medium-min: 700px;
$medium-max: 999px;
$large-min: 1000px;

$device-border-width: 2px;
$device-browser-radius: 5px;
$device-tablet-radius: 18px;
$device-phone-radius: 30px;
$device-document-radius: 4px;


$bg-client-ie: #B9CB41;
$bg-client-gk: #83A96A;
$bg-client-batc: #EAE8E2;
$bg-client-raven: #76CAC1;
$bg-client-nb: #f5AE39;
$bg-client-bfmn: #5D8A46;
$bg-client-vork: #DD4233;
$bg-client-sb: #3C7DE3;
$bg-client-vital: #F5F5F5;
// $bg-client-rt: #844290;
$bg-client-rt: #905B92;
$bg-client-oa: #c62634;
$bg-client-mp: #9A989B;
$bg-client-keva: #3A85C3;

$client-list-hover-opacity: 0.95;
