.st3 {
  background-color: #232426;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  letter-spacing: 0;
  margin-right: -5vw;
  padding: 30px 5px 15px;
  position: relative;
  z-index: 2; }
  .st3:before {
    color: #8D8D92;
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    opacity: 0.3;
    position: absolute;
    top: -5px; }
  .st3 h2 {
    color: #9ca09f;
    font-family: "freight-sans-pro";
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    left: 0;
    margin: 5px 0;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 0; }
  .st3 pre {
    background-color: #1D1F21;
    color: #9ca09f;
    counter-reset: line;
    font-family: monospace;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    padding: 10px 6vw 0 0; }
    .st3 pre code .number,
    .st3 pre code .literal,
    .st3 pre code .symbol,
    .st3 pre code .bullet {
      color: #6897BB; }
    .st3 pre code .keyword,
    .st3 pre code .selector-tag,
    .st3 pre code .deletion {
      color: #cc7832; }
    .st3 pre code .variable,
    .st3 pre code .template-variable,
    .st3 pre code .link {
      color: #629755; }
    .st3 pre code .comment,
    .st3 pre code .quote {
      color: rgba(156, 160, 159, 0.5); }
    .st3 pre code .meta {
      color: #bbb529; }
    .st3 pre code .string,
    .st3 pre code .attribute,
    .st3 pre code .addition {
      color: #6A8759; }
    .st3 pre code .section,
    .st3 pre code .title,
    .st3 pre code .type {
      color: #ffc66d; }
    .st3 pre code .name,
    .st3 pre code .selector-id,
    .st3 pre code .selector-class {
      color: #e8bf6a; }
    .st3 pre code .emphasis {
      font-style: italic; }
    .st3 pre code .strong {
      font-weight: bold; }
    .st3 pre span {
      display: block;
      line-height: 1;
      margin-top: -1.5em; }
      .st3 pre span:last-child {
        margin-bottom: -1.5em; }
      .st3 pre span:before {
        color: rgba(141, 141, 146, 0.3);
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        margin-right: 0.5em;
        padding: 0 .5em;
        text-align: right;
        width: 1.8em; }
      .st3 pre span span {
        display: none; }
        .st3 pre span span.small {
          display: inline; }
        .st3 pre span span:before {
          content: '';
          display: none;
          margin-right: 0;
          padding: 0; }
  .st3.light {
    background-color: #e3e4e3; }
    .st3.light pre {
      background-color: #e8e9e9; }

@media screen and (max-width: 699px) {
  .st3 {
    margin-top: 60px; } }

@media screen and (min-width: 700px) {
  .st3 pre span span {
    display: inline; }
    .st3 pre span span.small {
      display: none; } }

.device {
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: inline-block; }

.browser {
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin: 24px auto; }
  .browser:before {
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    bottom: 100%;
    content: '';
    display: block;
    left: -2px;
    position: absolute;
    right: -2px;
    top: -24px; }
  .browser:after {
    color: rgba(0, 0, 0, 0.1);
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    position: absolute;
    top: -30px; }
  .browser img {
    border-radius: 0 0 5px 5px; }

.phone {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: inline-block;
  margin: 48px auto;
  max-width: 45%;
  padding: 40px 4px; }
  .phone:after {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    bottom: 18px;
    content: '';
    display: block;
    height: 5px;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 40px; }
  .phone img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; }

@media screen and (min-width: 1000px) {
  .phone {
    padding: 60px 4px; }
    .phone:after {
      bottom: 25px; } }

.tablet {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: inline-block;
  margin: 48px auto;
  padding: 40px 10px; }
  .tablet img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; }

.document,
.poster {
  border-radius: 4px;
  display: inline-block; }
  .document img,
  .poster img {
    border-radius: 4px; }

article {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out; }

li,
p {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

ul li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }

ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }

ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }

ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s; }

ul li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s; }

ul li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s; }

ul li:nth-child(7) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s; }

ul li:nth-child(8) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s; }

ul li:nth-child(9) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s; }

ul li:nth-child(10) {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s; }

ul li:nth-child(11) {
  -webkit-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s; }

ul li:nth-child(12) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s; }

ul li:nth-child(13) {
  -webkit-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s; }

.wf-loading article,
.wf-loading li,
.wf-loading p {
  opacity: 0; }

.wf-loading li,
.wf-loading p {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px); }

.site-header {
  margin-bottom: 10vh;
  position: relative; }
  .site-header nav {
    left: 0;
    position: absolute;
    -webkit-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    top: -11vh; }
    .site-header nav:hover a {
      opacity: 0.5; }
    .site-header nav li {
      display: inline-block; }
    .site-header nav a {
      color: #000;
      display: block;
      letter-spacing: -0.02em;
      opacity: 0.25;
      padding: 1vh 1vw; }
      .site-header nav a:hover, .site-header nav a:focus {
        color: #000;
        opacity: 1; }
      .site-header nav a span {
        display: none; }

.projects .site-header li.projects a,
.contact .site-header li.contact a,
.me .site-header li.me a {
  opacity: 1; }

.brand a {
  background: url("/assets/img/sig.svg") no-repeat center transparent;
  display: block;
  height: 98px;
  text-indent: -999em;
  width: 130px; }
  .brand a:hover, .brand a:focus {
    outline: 0; }

.tagline {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3vw;
  left: 23vw;
  line-height: 1;
  opacity: 0.25;
  position: relative;
  top: -11vw;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  display: none; }
  .tagline .amp {
    margin-left: -0.3em; }

@media screen and (min-width: 700px) {
  .site-header nav a span {
    display: inline; }
  .brand a {
    height: 18vw;
    width: 24vw; }
  .tagline {
    font-size: 3vw;
    left: 11vw;
    top: -5vw; } }

@media screen and (min-width: 1000px) {
  .brand a {
    height: 10vw;
    width: 13vw; }
  .tagline {
    font-size: 1.5vw;
    left: 6vw;
    top: -3vw; } }

@media screen and (max-width: 1000px) {
  .rellax {
    margin-bottom: 10vh !important;
    margin-top: 10vh !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fade-out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.hide {
  display: none !important; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

html {
  font-size: 10px; }

body {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background-color: #fff;
  color: #7c807f;
  font-family: "freight-display-pro";
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s; }

.wrap {
  overflow: hidden; }

.fg {
  background-color: transparent;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: auto 75vh;
  min-height: 100vh;
  padding: 15vh 5vw 0;
  position: relative;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 2; }

.amp {
  font-style: italic; }

ul {
  list-style: none; }

a {
  color: #5e5f60;
  text-decoration: none;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease; }
  a:hover, a:focus {
    color: #000; }

footer {
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: -0.01em;
  padding-bottom: 10vh;
  padding-top: 12vh;
  position: relative;
  z-index: 1; }

.home .site-header nav {
  opacity: 0;
  pointer-events: none; }

.home .intro {
  color: #b4b7b6;
  font-size: 6vw;
  margin-top: 7vh; }

.home .tagline {
  opacity: 0; }

@media screen and (min-width: 700px) {
  .home .fg {
    min-height: 100vh;
    padding-top: 30vh; }
  .home .intro {
    color: #ced0cf;
    font-size: 5vw;
    margin-top: 12vh;
    max-width: 85vw; } }

@media screen and (min-width: 1000px) {
  .home .intro {
    font-size: 4vw; } }

.projects h2 {
  color: #000;
  font-size: 19vw;
  letter-spacing: -0.03em;
  line-height: 0.8;
  max-width: 5em;
  opacity: 0.2; }
  @media screen and (min-width: 700px) {
    .projects h2 {
      opacity: 0.05; } }

.projects footer {
  background-color: transparent !important; }

.project-list {
  margin-bottom: 8vw;
  margin-top: 4vw;
  position: relative;
  z-index: 1; }
  .project-list a {
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: calc(4rem + 3vw);
    line-height: 1;
    margin: 10px 0;
    padding-bottom: 7px;
    padding-top: 7px;
    position: relative; }
    .project-list a:hover, .project-list a:focus {
      color: #000;
      outline: 0; }
    @media screen and (min-width: 1000px) {
      .project-list a {
        font-size: calc(6rem + 2vw);
        margin: 1vw 11vw 1vw 0; } }
    @media screen and (min-width: 1500px) {
      .project-list a {
        font-size: calc(6rem + 2vw);
        margin: 1vw 11vw 2vw 0; } }

.projects-hover .project-list li.qara a:hover, .projects-hover .project-list li.qara a:focus,
.projects-hover .project-list li.batc a:hover,
.projects-hover .project-list li.batc a:focus,
.projects-hover .project-list li.vital a:hover,
.projects-hover .project-list li.vital a:focus {
  color: #000; }

.projects-hover .project-list a {
  opacity: 0.3; }
  .projects-hover .project-list a:hover, .projects-hover .project-list a:focus {
    color: #fff;
    opacity: 1 !important; }

.project .fg {
  padding-right: 0; }
  .project .fg .site-header {
    margin-bottom: 0;
    padding-top: 15vh; }

.project a {
  color: #fff; }

.project .brand a {
  height: 98px;
  margin-left: 1vw;
  opacity: 0.25;
  width: 130px; }
  .project .brand a:hover, .project .brand a:focus {
    opacity: 1; }

.project .tagline {
  opacity: 0; }

.project article {
  padding-top: 10vw; }

.project nav.nextprev {
  clear: both;
  letter-spacing: -0.02em;
  text-align: right; }
  .project nav.nextprev.upper {
    display: none; }
  .project nav.nextprev.lower {
    margin-bottom: 4vw;
    position: relative; }
  .project nav.nextprev a {
    display: block;
    padding: 5vh 5vw; }
  .project nav.nextprev span:first-child {
    opacity: 0.5; }
  .project nav.nextprev .amp {
    padding: 0 0.12em; }

.project header.project-name {
  color: #fff;
  font-size: 18vw;
  letter-spacing: -0.04em;
  line-height: 0.9;
  margin-bottom: 100px; }
  .project header.project-name h1 {
    font-size: inherit;
    padding: 0 2vw; }
    .project header.project-name h1 .amp {
      left: -0.1em;
      position: relative; }
    .project header.project-name h1 > span {
      display: block; }
      .project header.project-name h1 > span.interstitial,
      .project header.project-name h1 > span .interstitial {
        font-size: 50%;
        font-style: italic;
        letter-spacing: 0;
        line-height: 1.333;
        opacity: 0.5; }
  .project header.project-name a.project {
    color: inherit;
    display: block;
    font-size: 50%;
    letter-spacing: -0.04em;
    margin-top: 0.5em;
    opacity: 0.25;
    padding-left: 2vw; }
    .project header.project-name a.project:hover, .project header.project-name a.project:focus {
      opacity: 0.75;
      outline: 0; }

.project .see {
  padding: 0 4vw 4vw 0;
  text-align: center; }
  .project .see p {
    color: rgba(255, 255, 255, 0.6);
    font-size: calc(3rem + 1vw);
    margin-bottom: 2em;
    text-align: left; }
  .project .see aside {
    text-align: left; }
  .project .see figure {
    margin-bottom: 4vw;
    position: relative;
    text-align: center;
    z-index: 2; }
    .project .see figure.under {
      z-index: 1; }
    .project .see figure.insta iframe {
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1) !important;
              box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1) !important; }
    .project .see figure.device, .project .see figure.poster, .project .see figure.floaty {
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
              box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); }
    .project .see figure.detail {
      text-align: right; }
      .project .see figure.detail img {
        -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
                box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); }
    .project .see figure.b10 {
      margin-bottom: 10px; }
    .project .see figure.b20 {
      margin-bottom: 20px; }
    .project .see figure.b30 {
      margin-bottom: 30px; }
    .project .see figure.t10 {
      margin-top: 10px; }
    .project .see figure.t20 {
      margin-top: 20px; }
    .project .see figure.t30 {
      margin-top: 30px; }
    .project .see figure.up10 {
      margin-top: -10px; }
    .project .see figure.up20 {
      margin-top: -20px; }
    .project .see figure.up30 {
      margin-top: -30px; }
    .project .see figure.w60 {
      max-width: 80%; }
    .project .see figure.w80 {
      max-width: 90%; }
    .project .see figure.w90 {
      max-width: 95%; }
    .project .see figure.w110 {
      max-width: 105%; }
    .project .see figure.typeface {
      margin-bottom: 20px; }
      .project .see figure.typeface.b0 {
        margin-bottom: 0; }
      .project .see figure.typeface.b10 {
        margin-bottom: 10px; }
  .project .see img {
    display: block;
    height: auto;
    max-width: 100%; }

@media screen and (max-width: 999px) {
  .project .see figure.w60, .project .see figure.w80, .project .see figure.w90 {
    margin-left: auto;
    margin-right: auto; }
  .project .see figure.w60 {
    max-width: 80%; }
  .project .see figure.w80 {
    max-width: 90%; }
  .project .see figure.w90 {
    max-width: 95%; }
  .project .see figure.w110 {
    margin-left: -2.5%;
    margin-right: -2.5%;
    max-width: 105%; } }

@media screen and (min-width: 700px) {
  .project nav.nextprev.upper {
    display: block;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .project nav.nextprev.upper span.preface {
      display: block; } }

@media screen and (min-width: 1000px) {
  .project .site-header {
    height: 13vw;
    max-width: 50vw; }
  .project .brand {
    left: 5vw;
    position: fixed;
    top: 13vh;
    z-index: 9999; }
    .project .brand a {
      margin-left: 0; }
  .project header.project-name {
    font-size: 8vw;
    left: 0;
    position: fixed;
    top: 30vh; }
    .project header.project-name h1,
    .project header.project-name a.project {
      padding-left: 5vw; }
  .project nav.nextprev.upper span.preface {
    display: inline-block;
    margin-right: 0.15em; }
  .project nav.nextprev.lower {
    margin-bottom: 0;
    margin-left: -5vw; }
    .project nav.nextprev.lower a.prev {
      float: left;
      text-align: left; }
    .project nav.nextprev.lower a.next {
      float: right; }
  .project .see {
    float: right;
    width: 50vw; }
    .project .see figure.b10 {
      margin-bottom: 10vw; }
    .project .see figure.b20 {
      margin-bottom: 20vw; }
    .project .see figure.b30 {
      margin-bottom: 30vw; }
    .project .see figure.t10 {
      margin-top: 10vw; }
    .project .see figure.t20 {
      margin-top: 20vw; }
    .project .see figure.t30 {
      margin-top: 30vw; }
    .project .see figure.up10 {
      margin-top: -10vw; }
    .project .see figure.up20 {
      margin-top: -20vw; }
    .project .see figure.up30 {
      margin-top: -30vw; }
    .project .see figure.w60 {
      max-width: 60%; }
    .project .see figure.w80 {
      max-width: 80%; }
    .project .see figure.w90 {
      max-width: 90%; }
    .project .see figure.w110 {
      max-width: 110%; }
    .project .see figure.l {
      left: -2vw;
      position: relative; }
    .project .see figure.r {
      position: relative;
      right: -2vw; }
      .project .see figure.r.document {
        margin-left: auto;
        margin-right: -5.5vw; }
      .project .see figure.r.w60 {
        right: -12vw; }
    .project .see figure.typeface {
      margin-bottom: 15vw; }
      .project .see figure.typeface.b10 {
        margin-bottom: 10vw; } }

.project-rinse,
.projects--rinse-hover {
  background-color: #776e64; }
  .project-rinse nav.lower,
  .project-rinse footer,
  .projects--rinse-hover nav.lower,
  .projects--rinse-hover footer {
    background-color: rgba(119, 110, 100, 0.925); }

.project-tecweigh,
.projects--tecweigh-hover {
  background-color: #6d7278; }
  .project-tecweigh nav.lower,
  .project-tecweigh footer,
  .projects--tecweigh-hover nav.lower,
  .projects--tecweigh-hover footer {
    background-color: rgba(109, 114, 120, 0.925); }

.project-parade,
.projects--parade-hover {
  background-color: #41B8CB; }
  .project-parade nav.lower,
  .project-parade footer,
  .projects--parade-hover nav.lower,
  .projects--parade-hover footer {
    background-color: rgba(65, 184, 203, 0.925); }

.project-qara,
.projects--qara-hover {
  background-color: #EAE9E7; }
  .project-qara header.project-name,
  .project-qara nav.nextprev a,
  .projects--qara-hover header.project-name,
  .projects--qara-hover nav.nextprev a {
    color: #000; }
  .project-qara .see p,
  .projects--qara-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
  .project-qara nav.lower,
  .project-qara footer,
  .projects--qara-hover nav.lower,
  .projects--qara-hover footer {
    background-color: rgba(234, 233, 231, 0.925); }

.project-ie,
.projects--ie-hover {
  background-color: #b9cb41; }
  .project-ie .see p,
  .projects--ie-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
  .project-ie nav.lower,
  .project-ie footer,
  .projects--ie-hover nav.lower,
  .projects--ie-hover footer {
    background-color: rgba(185, 203, 65, 0.925); }

.project-gk,
.projects--gk-hover {
  background-color: #83a96a; }
  .project-gk nav.lower,
  .project-gk footer,
  .projects--gk-hover nav.lower,
  .projects--gk-hover footer {
    background-color: rgba(131, 169, 106, 0.925); }

.project-strom,
.projects--strom-hover {
  background-color: #E6893C; }
  .project-strom nav.lower,
  .project-strom footer,
  .projects--strom-hover nav.lower,
  .projects--strom-hover footer {
    background-color: rgba(230, 137, 60, 0.925); }

.project-artisan,
.projects--artisan-hover {
  background-color: #eae8e2; }
  .project-artisan header.project-name,
  .project-artisan nav.nextprev a,
  .projects--artisan-hover header.project-name,
  .projects--artisan-hover nav.nextprev a {
    color: #000; }
  .project-artisan nav.lower,
  .project-artisan footer,
  .projects--artisan-hover nav.lower,
  .projects--artisan-hover footer {
    background-color: rgba(234, 232, 226, 0.925); }

.project-raven,
.projects--raven-hover {
  background-color: #76cac1; }
  .project-raven .see p,
  .projects--raven-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
    .project-raven .see p a,
    .projects--raven-hover .see p a {
      color: #111; }
      .project-raven .see p a:hover, .project-raven .see p a:focus,
      .projects--raven-hover .see p a:hover,
      .projects--raven-hover .see p a:focus {
        color: #000; }
  .project-raven nav.lower,
  .project-raven footer,
  .projects--raven-hover nav.lower,
  .projects--raven-hover footer {
    background-color: rgba(118, 202, 193, 0.925); }

.project-qc,
.projects--qc-hover {
  background-color: #4D93C8; }
  .project-qc .see p,
  .projects--qc-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
  .project-qc nav.lower,
  .project-qc footer,
  .projects--qc-hover nav.lower,
  .projects--qc-hover footer {
    background-color: rgba(77, 147, 200, 0.925); }

.project-nb,
.projects--nb-hover {
  background-color: #f5ae39; }
  .project-nb .see p,
  .projects--nb-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
    .project-nb .see p a,
    .projects--nb-hover .see p a {
      color: #111; }
      .project-nb .see p a:hover, .project-nb .see p a:focus,
      .projects--nb-hover .see p a:hover,
      .projects--nb-hover .see p a:focus {
        color: #000; }
  .project-nb nav.lower,
  .project-nb footer,
  .projects--nb-hover nav.lower,
  .projects--nb-hover footer {
    background-color: rgba(245, 174, 57, 0.925); }

.project-medg,
.projects--medg-hover {
  background-color: #D7742B; }
  .project-medg nav.lower,
  .project-medg footer,
  .projects--medg-hover nav.lower,
  .projects--medg-hover footer {
    background-color: rgba(215, 116, 43, 0.925); }

.project-bfmn,
.projects--bfmn-hover {
  background-color: #5d8a46; }
  .project-bfmn nav.lower,
  .project-bfmn footer,
  .projects--bfmn-hover nav.lower,
  .projects--bfmn-hover footer {
    background-color: rgba(93, 138, 70, 0.925); }

.project-vork,
.projects--vork-hover {
  background-color: #dd4233; }
  .project-vork nav.lower,
  .project-vork footer,
  .projects--vork-hover nav.lower,
  .projects--vork-hover footer {
    background-color: rgba(221, 66, 51, 0.925); }

.project-sb,
.projects--sb-hover {
  background-color: #3c7de3; }
  .project-sb nav.lower,
  .project-sb footer,
  .projects--sb-hover nav.lower,
  .projects--sb-hover footer {
    background-color: rgba(60, 125, 227, 0.925); }

.project-vital,
.projects--vital-hover {
  background-color: #f5f5f5; }
  .project-vital header.project-name,
  .project-vital nav.nextprev a,
  .projects--vital-hover header.project-name,
  .projects--vital-hover nav.nextprev a {
    color: #000; }
  .project-vital .see p,
  .projects--vital-hover .see p {
    color: rgba(17, 17, 17, 0.6); }
    .project-vital .see p a,
    .projects--vital-hover .see p a {
      color: #111; }
      .project-vital .see p a:hover, .project-vital .see p a:focus,
      .projects--vital-hover .see p a:hover,
      .projects--vital-hover .see p a:focus {
        color: #000; }
  .project-vital nav.lower,
  .project-vital footer,
  .projects--vital-hover nav.lower,
  .projects--vital-hover footer {
    background-color: rgba(245, 245, 245, 0.925); }

.project-rt,
.projects--rt-hover {
  background-color: #905b92; }
  .project-rt nav.lower,
  .project-rt footer,
  .projects--rt-hover nav.lower,
  .projects--rt-hover footer {
    background-color: rgba(144, 91, 146, 0.925); }

.project-oa,
.projects--oa-hover {
  background-color: #c62634; }
  .project-oa nav.lower,
  .project-oa footer,
  .projects--oa-hover nav.lower,
  .projects--oa-hover footer {
    background-color: rgba(198, 38, 52, 0.925); }

.project-mp,
.projects--mp-hover {
  background-color: #878789; }
  .project-mp nav.lower,
  .project-mp footer,
  .projects--mp-hover nav.lower,
  .projects--mp-hover footer {
    background-color: rgba(135, 135, 137, 0.925); }

.project-keva,
.projects--keva-hover {
  background-color: #3a85c3; }
  .project-keva nav.lower,
  .project-keva footer,
  .projects--keva-hover nav.lower,
  .projects--keva-hover footer {
    background-color: rgba(58, 133, 195, 0.925); }

.contact article ul li {
  color: #ced0cf;
  font-size: 10vw;
  margin-bottom: 10vw; }
  .contact article ul li span {
    display: block; }

@media screen and (min-width: 700px) {
  .contact article ul li {
    color: rgba(206, 208, 207, 0.5);
    font-size: 7vw;
    margin-bottom: 7vw;
    max-width: 85vw; } }

@media screen and (min-width: 1000px) {
  .contact article ul li {
    font-size: 5vw;
    margin-bottom: 5vw; } }

.me .about {
  color: #b4b7b6;
  font-size: calc(2rem + 1vw);
  margin-bottom: 7vh;
  position: relative;
  z-index: 10; }
  .me .about p {
    margin-bottom: 1em; }

.me aside {
  margin-bottom: 15vh;
  margin-right: -6vw;
  margin-top: 5vh; }

.me figure {
  height: 80vh;
  margin-bottom: -10vh;
  margin-left: -5vw;
  position: relative; }
  .me figure img {
    display: block;
    height: 100%;
    width: auto; }

.me footer {
  display: none; }

@media screen and (min-width: 700px) {
  .me .brand {
    left: 5vw;
    position: fixed;
    top: 15vh;
    z-index: 9999; }
  .me .about {
    color: #ced0cf;
    float: right;
    width: 50vw; }
  .me figure {
    bottom: 0;
    height: auto;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    max-height: 60vh;
    position: fixed;
    width: 42vw; }
    .me figure img {
      display: block;
      height: auto;
      width: 100%; } }

@media screen and (min-width: 1000px) {
  .me .about {
    font-size: calc(2rem + 2vw); }
  .me figure {
    height: 65vh;
    width: auto; }
    .me figure img {
      display: block;
      height: 100%;
      width: auto; } }

.ooops h2 {
  color: rgba(0, 0, 0, 0.15);
  font-size: 20vw;
  letter-spacing: -0.03em;
  line-height: 0.8; }

.ooops article p {
  color: #b4b7b6;
  font-size: 6vw;
  margin-top: 7vh; }

.ooops article strong {
  color: rgba(207, 0, 15, 0.5); }

@media screen and (min-width: 700px) {
  .ooops article p {
    color: #ced0cf;
    font-size: 5vw;
    margin-top: 12vh;
    max-width: 85vw; } }

@media screen and (min-width: 1000px) {
  .ooops h2 {
    color: rgba(0, 0, 0, 0.05); }
  .ooops article p {
    font-size: 4vw; } }
