/*@mixin sprite-icons($x, $y) {
        $xpos: $x + px;
        $ypos: $y + px;
        background: url('../images/icons-sprite.png') no-repeat $xpos $ypos transparent;
}

@mixin sprite-icons-2x {
        background-image: url('../images/icons-sprite@2x.png');
        background-size: 145px 329px;
}

@mixin sprite-logo($x, $y) {
        $xpos: $x + px;
        $ypos: $y + px;
        background: url('../images/logo_sprite.png') no-repeat $xpos $ypos transparent;
}

@mixin sprite-logo-2x {
        background-image: url('../images/logo_sprite@2x.png');
        background-size: 822px 137px;
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

html {
  font-size: 10px; }

body {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background-color: #5E5F60;
  color: #7C807F;
  font-family: "freight-display-pro";
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s; }

.wrap {
  overflow-x: hidden; }

.fg {
  position: relative;
  z-index: 2; }

.amp {
  font-style: italic; }

.brand {
  position: relative;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }
  .brand a {
    background-color: #000;
    background-size: 100% auto;
    display: block;
    height: 58vw;
    -webkit-mask-image: url("../img/brand.svg");
            mask-image: url("../img/brand.svg");
    -webkit-mask-position: -1.7vw -2vw;
            mask-position: -1.7vw -2vw;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
    position: relative;
    text-indent: -999em;
    -webkit-transition: background-color 250ms, opacity 150ms;
    -o-transition: background-color 250ms, opacity 150ms;
    transition: background-color 250ms, opacity 150ms;
    width: 90vw; }
    .brand a:hover, .brand a:focus {
      outline: 0; }
      .brand a:hover + .tagline-container .tagline, .brand a:focus + .tagline-container .tagline {
        opacity: 0.75; }
  .brand .tagline-container {
    left: 2vw;
    pointer-events: none;
    position: absolute;
    top: 18vw;
    -webkit-transition: opacity 1800ms ease-out, -webkit-transform 1800ms ease-out;
    transition: opacity 1800ms ease-out, -webkit-transform 1800ms ease-out;
    -o-transition: transform 1800ms ease-out, opacity 1800ms ease-out;
    transition: transform 1800ms ease-out, opacity 1800ms ease-out;
    transition: transform 1800ms ease-out, opacity 1800ms ease-out, -webkit-transform 1800ms ease-out;
    -webkit-transition-delay: 700ms;
         -o-transition-delay: 700ms;
            transition-delay: 700ms; }
  .brand .tagline {
    color: #FFF;
    font-size: 10vw;
    font-weight: 600;
    line-height: 0.9;
    padding-left: 30px;
    opacity: .55;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease; }
    .brand .tagline .amp {
      margin-left: -0.4em; }

ul {
  list-style: none; }

a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease; }

footer {
  display: none;
  margin-top: 10vw;
  padding: 0 30px 30px; }
  footer .contact {
    font-size: 30px; }
    footer .contact a {
      opacity: 0.2; }
      footer .contact a:hover, footer .contact a:focus {
        opacity: 0.5;
        outline: 0; }

@media screen and (min-width: 1000px) {
  .brand a {
    height: 27vw;
    width: 30vw; }
  .brand .tagline-container {
    bottom: auto;
    left: 14.5vw;
    top: 3vw;
    width: 27vw; }
  .brand .tagline {
    color: #FFF;
    font-size: 3vw;
    opacity: .15;
    padding-left: 4vw; }
  footer {
    padding: 0 4vw 4vw; }
    footer .contact {
      font-size: 4vw; } }

.bg {
  background-image: url("../img/brand.svg");
  background-position: -320vh -200vh;
  background-repeat: no-repeat;
  background-size: 1200vh auto;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.8;
  right: 0;
  top: 0;
  -webkit-transition: all 650ms cubic-bezier(0.41, 0.03, 0.37, 1);
  -o-transition: all 650ms cubic-bezier(0.41, 0.03, 0.37, 1);
  transition: all 650ms cubic-bezier(0.41, 0.03, 0.37, 1);
  z-index: 1; }

.home .bg {
  position: fixed; }

.client .bg {
  background-position: -0.6vw -0.6vw;
  background-size: 130px auto;
  opacity: 0.25;
  -webkit-transition: all 450ms ease-out;
  -o-transition: all 450ms ease-out;
  transition: all 450ms ease-out; }

@media screen and (min-width: 1000px) {
  .bg {
    background-position: -350vw -200vw;
    background-size: 1300vw auto; }
  .client .bg {
    background-size: 12vw auto;
    position: fixed; } }

.st3 {
  background-color: #232426;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  letter-spacing: 0;
  margin-right: -5vw;
  padding: 30px 5px 15px;
  position: relative;
  z-index: 2; }
  .st3:before {
    color: #8D8D92;
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    opacity: 0.3;
    position: absolute;
    top: -5px; }
  .st3 h2 {
    color: #9CA09F;
    font-family: "freight-sans-pro";
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    left: 0;
    margin: 5px 0;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 0; }

pre {
  background-color: #1D1F21;
  color: #9CA09F;
  counter-reset: line;
  font-family: monospace;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  padding: 10px 6vw 0 0; }
  pre code .number,
  pre code .literal,
  pre code .symbol,
  pre code .bullet {
    color: #6897BB; }
  pre code .keyword,
  pre code .selector-tag,
  pre code .deletion {
    color: #cc7832; }
  pre code .variable,
  pre code .template-variable,
  pre code .link {
    color: #629755; }
  pre code .comment,
  pre code .quote {
    color: rgba(156, 160, 159, 0.5); }
  pre code .meta {
    color: #bbb529; }
  pre code .string,
  pre code .attribute,
  pre code .addition {
    color: #6A8759; }
  pre code .section,
  pre code .title,
  pre code .type {
    color: #ffc66d; }
  pre code .name,
  pre code .selector-id,
  pre code .selector-class {
    color: #e8bf6a; }
  pre code .emphasis {
    font-style: italic; }
  pre code .strong {
    font-weight: bold; }
  pre span {
    display: block;
    line-height: 1;
    margin-top: -1.5em; }
    pre span:last-child {
      margin-bottom: -1.5em; }
    pre span:before {
      color: rgba(141, 141, 146, 0.3);
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      margin-right: 0.5em;
      padding: 0 .5em;
      text-align: right;
      width: 1.8em; }
    pre span span {
      display: inline; }
      pre span span:before {
        content: '';
        display: none;
        margin-right: 0;
        padding: 0; }

@media screen and (max-width: 699px) {
  .st3 {
    margin-top: 60px; } }

.device {
  border: 2px solid rgba(0, 0, 0, 0.1); }

.browser {
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin: 24px auto; }
  .browser:before {
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    bottom: 100%;
    content: '';
    display: block;
    left: -2px;
    position: absolute;
    right: -2px;
    top: -24px; }
  .browser:after {
    color: rgba(0, 0, 0, 0.1);
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    position: absolute;
    top: -30px; }
  .browser img {
    border-radius: 0 0 5px 5px; }

.phone {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 48px auto;
  padding: 40px 4px;
  width: 45%; }
  .phone:after {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    bottom: 18px;
    content: '';
    display: block;
    height: 5px;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 40px; }
  .phone img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; }

@media screen and (min-width: 1000px) {
  .phone {
    padding: 60px 4px; }
    .phone:after {
      bottom: 25px; } }

.tablet {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin: 48px auto;
  padding: 40px 10px; }
  .tablet img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; }

.document,
.poster {
  border-radius: 4px; }
  .document img,
  .poster img {
    border-radius: 4px; }

.home .brand a {
  -webkit-transition: background-color 1250ms, opacity 2500ms ease-out;
  -o-transition: background-color 1250ms, opacity 2500ms ease-out;
  transition: background-color 1250ms, opacity 2500ms ease-out;
  -webkit-transition-delay: 0, 650ms;
       -o-transition-delay: 0, 650ms;
          transition-delay: 0, 650ms; }

.home aside {
  margin-left: 4vw; }

ul.clients {
  margin-bottom: 8vw;
  margin-top: 4vw;
  position: relative;
  z-index: 1; }
  ul.clients:before {
    color: rgba(0, 0, 0, 0.4);
    content: 'Clients';
    font-size: 30vw;
    left: -2vw;
    top: -13vw;
    position: absolute;
    z-index: -1; }
  ul.clients a {
    color: #FFF;
    display: inline-block;
    font-size: 30px;
    line-height: 1.1;
    margin: 10px 0;
    opacity: 0.6;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-top: 7px;
    position: relative; }
    ul.clients a:before {
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.3;
      position: absolute;
      right: 1vw;
      top: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
      will-change: transform;
      z-index: -1; }
    ul.clients a:hover, ul.clients a:focus {
      opacity: 1;
      outline: 0; }
      ul.clients a:hover:before, ul.clients a:focus:before {
        opacity: 1;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }
    ul.clients a:focus:before {
      background-color: rgba(112, 214, 61, 0.5); }

@media screen and (min-width: 1000px) {
  ul.clients {
    margin-top: 31vw;
    max-width: 50vw; }
    ul.clients:before {
      font-size: 21vw;
      position: fixed;
      top: 20vw; }
    ul.clients a {
      font-size: 4vw;
      margin: 1vw 0;
      padding-bottom: 0;
      padding-left: 4vw;
      padding-top: 0; }
  .home .brand {
    left: 0;
    position: fixed;
    top: 0; }
  .home aside {
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 4vw; }
    .home aside pre {
      padding-right: 8vw; } }

ul.clients .ie a:before {
  background-color: rgba(185, 203, 65, 0.95); }

ul.clients .gk a:before {
  background-color: rgba(131, 169, 106, 0.95); }

ul.clients .batc a:before {
  background-color: rgba(234, 232, 226, 0.95); }

ul.clients .raven a:before {
  background-color: rgba(118, 202, 193, 0.95); }

ul.clients .nb a:before {
  background-color: rgba(245, 174, 57, 0.95); }

ul.clients .bfmn a:before {
  background-color: rgba(93, 138, 70, 0.95); }

ul.clients .vork a:before {
  background-color: rgba(221, 66, 51, 0.95); }

ul.clients .sb a:before {
  background-color: rgba(60, 125, 227, 0.95); }

ul.clients .vital a:before {
  background-color: rgba(245, 245, 245, 0.95); }

ul.clients .rt a:before {
  background-color: rgba(144, 91, 146, 0.95); }

ul.clients .oa a:before {
  background-color: rgba(198, 38, 52, 0.95); }

ul.clients .mp a:before {
  background-color: rgba(154, 152, 155, 0.95); }

ul.clients .keva a:before {
  background-color: rgba(58, 133, 195, 0.95); }

.client article {
  padding-top: 20vw; }

.client nav {
  clear: both;
  letter-spacing: -0.02em;
  text-align: right; }
  .client nav.upper {
    display: block;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .client nav.upper span.preface {
      display: block; }
  .client nav.lower {
    margin-bottom: 4vw;
    position: relative; }
  .client nav a {
    display: block;
    padding: 3vw 4vw; }
  .client nav span:first-child {
    opacity: 0.5; }
  .client nav .amp {
    padding: 0 0.12em; }

.client .brand {
  width: 130px;
  z-index: 999; }
  .client .brand a {
    height: 91px;
    opacity: 0;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    -webkit-transition-delay: unset;
         -o-transition-delay: unset;
            transition-delay: unset; }

.client .tagline {
  opacity: 0 !important; }

.client header {
  color: #FFF;
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 0.9;
  margin-bottom: 100px; }
  .client header h1 {
    font-size: inherit;
    padding: 0 4vw; }
    .client header h1 .amp {
      left: -0.1em;
      position: relative; }
    .client header h1 > span {
      display: block; }
      .client header h1 > span.interstitial {
        font-size: 50%;
        font-style: italic;
        letter-spacing: 0;
        line-height: 1.333;
        opacity: 0.5; }
  .client header a.project {
    color: inherit;
    display: block;
    font-size: 50%;
    letter-spacing: -0.04em;
    opacity: 0.25;
    padding-left: 4vw; }
    .client header a.project:hover, .client header a.project:focus {
      opacity: 0.75;
      outline: 0; }

.client .see {
  padding: 0 4vw 4vw; }
  .client .see figure {
    margin-bottom: 4vw;
    position: relative;
    text-align: center;
    z-index: 2; }
    .client .see figure.under {
      z-index: 1; }
    .client .see figure.insta iframe {
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1) !important;
              box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1) !important; }
    .client .see figure.device, .client .see figure.poster, .client .see figure.floaty {
      -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
              box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); }
    .client .see figure.detail {
      text-align: right; }
      .client .see figure.detail img {
        -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
                box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); }
    .client .see figure.b10 {
      margin-bottom: 10px; }
    .client .see figure.b20 {
      margin-bottom: 20px; }
    .client .see figure.b30 {
      margin-bottom: 30px; }
    .client .see figure.t10 {
      margin-top: 10px; }
    .client .see figure.t20 {
      margin-top: 20px; }
    .client .see figure.t30 {
      margin-top: 30px; }
    .client .see figure.up10 {
      margin-top: -10px; }
    .client .see figure.up20 {
      margin-top: -20px; }
    .client .see figure.up30 {
      margin-top: -30px; }
    .client .see figure.w60 {
      width: 80%; }
    .client .see figure.w80 {
      width: 90%; }
    .client .see figure.w90 {
      width: 95%; }
    .client .see figure.w110 {
      width: 105%; }
    .client .see figure.typeface {
      margin-bottom: 20px; }
      .client .see figure.typeface.b0 {
        margin-bottom: 0; }
      .client .see figure.typeface.b10 {
        margin-bottom: 10px; }
  .client .see img {
    display: block;
    height: auto;
    max-width: 100%; }

@media screen and (max-width: 999px) {
  .client .see figure.w60, .client .see figure.w80, .client .see figure.w90 {
    margin-left: auto;
    margin-right: auto; }
  .client .see figure.w60 {
    width: 80%; }
  .client .see figure.w80 {
    width: 90%; }
  .client .see figure.w90 {
    width: 95%; }
  .client .see figure.w110 {
    margin-left: -2.5%;
    margin-right: -2.5%;
    width: 105%; } }

@media screen and (min-width: 1000px) {
  .client .brand {
    left: 0;
    position: fixed;
    top: 0;
    width: auto; }
    .client .brand a {
      height: 8vw;
      width: 13vw; }
  .client header {
    font-size: 8vw;
    left: 0;
    position: fixed;
    top: 30vh; }
  .client nav.upper span.preface {
    display: inline-block;
    margin-right: 0.15em; }
  .client nav.lower {
    margin-bottom: 0; }
    .client nav.lower a.prev {
      float: left;
      text-align: left; }
    .client nav.lower a.next {
      float: right; }
  .client .see {
    float: right;
    width: 50vw; }
    .client .see figure.b10 {
      margin-bottom: 10vw; }
    .client .see figure.b20 {
      margin-bottom: 20vw; }
    .client .see figure.b30 {
      margin-bottom: 30vw; }
    .client .see figure.t10 {
      margin-top: 10vw; }
    .client .see figure.t20 {
      margin-top: 20vw; }
    .client .see figure.t30 {
      margin-top: 30vw; }
    .client .see figure.up10 {
      margin-top: -10vw; }
    .client .see figure.up20 {
      margin-top: -20vw; }
    .client .see figure.up30 {
      margin-top: -30vw; }
    .client .see figure.w60 {
      width: 60%; }
    .client .see figure.w80 {
      width: 80%; }
    .client .see figure.w90 {
      width: 90%; }
    .client .see figure.w110 {
      width: 110%; }
    .client .see figure.l {
      left: -2vw;
      position: relative; }
    .client .see figure.r {
      position: relative;
      right: -2vw; }
      .client .see figure.r.document {
        margin-left: auto;
        margin-right: -5.5vw; }
      .client .see figure.r.w60 {
        right: -12vw; }
    .client .see figure.typeface {
      margin-bottom: 15vw; }
      .client .see figure.typeface.b10 {
        margin-bottom: 10vw; } }

.client-ie {
  background-color: #B9CB41; }
  .client-ie nav.lower {
    background-color: rgba(185, 203, 65, 0.925); }

.client-gk {
  background-color: #83A96A; }
  .client-gk nav.lower {
    background-color: rgba(131, 169, 106, 0.925); }

.client-batc {
  background-color: #EAE8E2; }
  .client-batc header,
  .client-batc nav a {
    color: #000; }
  .client-batc nav.lower {
    background-color: rgba(234, 232, 226, 0.925); }

.client-raven {
  background-color: #76CAC1; }
  .client-raven nav.lower {
    background-color: rgba(118, 202, 193, 0.925); }

.client-nb {
  background-color: #f5AE39; }
  .client-nb nav.lower {
    background-color: rgba(245, 174, 57, 0.925); }

.client-bfmn {
  background-color: #5D8A46; }
  .client-bfmn nav.lower {
    background-color: rgba(93, 138, 70, 0.925); }

.client-vork {
  background-color: #DD4233; }
  .client-vork nav.lower {
    background-color: rgba(221, 66, 51, 0.925); }

.client-sb {
  background-color: #3C7DE3; }
  .client-sb nav.lower {
    background-color: rgba(60, 125, 227, 0.925); }

.client-vital {
  background-color: #F5F5F5; }
  .client-vital header,
  .client-vital nav a {
    color: #000; }
  .client-vital nav.lower {
    background-color: rgba(245, 245, 245, 0.925); }

.client-rt {
  background-color: #905B92; }
  .client-rt nav.lower {
    background-color: rgba(144, 91, 146, 0.925); }

.client-oa {
  background-color: #c62634; }
  .client-oa nav.lower {
    background-color: rgba(198, 38, 52, 0.925); }

.client-mp {
  background-color: #9A989B; }
  .client-mp nav.lower {
    background-color: rgba(154, 152, 155, 0.925); }

.client-keva {
  background-color: #3A85C3; }
  .client-keva nav.lower {
    background-color: rgba(58, 133, 195, 0.925); }

article {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out; }

.tagline-container,
li,
p {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

ul li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }

ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }

ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }

ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s; }

ul li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s; }

ul li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s; }

ul li:nth-child(7) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s; }

ul li:nth-child(8) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s; }

ul li:nth-child(9) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s; }

ul li:nth-child(10) {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s; }

ul li:nth-child(11) {
  -webkit-transition-delay: 1.1s;
       -o-transition-delay: 1.1s;
          transition-delay: 1.1s; }

ul li:nth-child(12) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s; }

ul li:nth-child(13) {
  -webkit-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s; }

.wf-loading article,
.wf-loading .tagline-container,
.wf-loading li,
.wf-loading p {
  opacity: 0; }

.wf-loading .tagline-container,
.wf-loading li,
.wf-loading p {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px); }

@media screen and (max-width: 1000px) {
  .rellax {
    margin-bottom: 10vh !important;
    margin-top: 10vh !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fade-out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.hide {
  display: none !important; }
