/*@mixin sprite-icons($x, $y) {
        $xpos: $x + px;
        $ypos: $y + px;
        background: url('../images/icons-sprite.png') no-repeat $xpos $ypos transparent;
}

@mixin sprite-icons-2x {
        background-image: url('../images/icons-sprite@2x.png');
        background-size: 145px 329px;
}

@mixin sprite-logo($x, $y) {
        $xpos: $x + px;
        $ypos: $y + px;
        background: url('../images/logo_sprite.png') no-repeat $xpos $ypos transparent;
}

@mixin sprite-logo-2x {
        background-image: url('../images/logo_sprite@2x.png');
        background-size: 822px 137px;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: '';
  display: table; }

html {
  font-size: 10px; }

body {
  background-color: #5E5F60;
  color: #7C807F;
  font-family: "freight-display-pro";
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  transition: background-color 1s; }

.wrap {
  overflow-x: hidden; }

.bg {
  background: url("../img/brand.svg") no-repeat -320vw -200vw;
  background-size: 1200vw auto;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.8;
  right: 0;
  top: 0;
  transition: all 650ms cubic-bezier(0.41, 0.03, 0.37, 1);
  z-index: 1; }

.fg {
  position: relative;
  z-index: 2; }

.amp {
  font-style: italic; }

.brand {
  position: relative;
  transition: all 500ms ease-out; }
  .brand a {
    background-color: #000;
    background-size: 100% auto;
    display: block;
    height: 210px;
    -webkit-mask-image: url("../img/brand.svg");
            mask-image: url("../img/brand.svg");
    -webkit-mask-position: -1.7vw -2vw;
            mask-position: -1.7vw -2vw;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
    position: relative;
    text-indent: -999em;
    transition: background-color 150ms opacity 150ms;
    width: 250px; }
    .brand a:hover, .brand a:focus {
      background-color: #000;
      outline: 0; }
  .brand .tagline-container {
    bottom: 50px;
    left: 0;
    pointer-events: none;
    position: absolute;
    transition: transform 1800ms ease-out, opacity 1800ms ease-out;
    transition-delay: 700ms; }
  .brand .tagline {
    color: #FFF;
    font-size: 22.5px;
    font-weight: 600;
    line-height: 0.9;
    padding-left: 30px;
    opacity: .55;
    transition: all 350ms ease; }
    .brand .tagline .amp {
      margin-left: -0.4em; }

ul {
  list-style: none; }

a {
  color: #FFF;
  text-decoration: none;
  transition: all 350ms ease; }

.home .bg {
  position: fixed; }

.home .brand a {
  transition: opacity 2500ms ease-out;
  transition-delay: 650ms; }

ul.clients {
  margin-bottom: 8vw;
  margin-top: 4vw; }
  ul.clients a {
    color: #FFF;
    display: inline-block;
    font-size: 30px;
    margin: 5px 0;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 5px;
    position: relative; }
    ul.clients a:before {
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.3;
      position: absolute;
      right: 1vw;
      top: 0;
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
      transition: all 500ms ease-out;
      will-change: transform;
      z-index: -1; }
    ul.clients a:hover, ul.clients a:focus {
      opacity: 1;
      outline: 0; }
      ul.clients a:hover:before, ul.clients a:focus:before {
        opacity: 1;
        -ms-transform: translateX(0);
            transform: translateX(0); }
    ul.clients a:focus:before {
      background-color: rgba(112, 214, 61, 0.5); }

footer {
  display: none;
  margin-top: 10vw;
  padding: 0 30px 30px; }
  footer .contact {
    font-size: 30px; }
    footer .contact a {
      opacity: 0.2; }
      footer .contact a:hover, footer .contact a:focus {
        opacity: 0.5;
        outline: 0; }

@media screen and (min-width: 1000px) {
  .brand a {
    height: 27vw;
    width: 30vw; }
  .brand .tagline-container {
    bottom: auto;
    left: 14.5vw;
    top: 3vw; }
  .brand .tagline {
    color: #FFF;
    font-size: 3vw;
    opacity: .15;
    padding-left: 4vw; }
  ul.clients a {
    font-size: 4vw;
    margin: 1vw 0;
    padding-bottom: 0;
    padding-left: 4vw;
    padding-top: 0; }
  footer {
    padding: 0 4vw 4vw; }
    footer .contact {
      font-size: 4vw; } }

.device {
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; }

.browser {
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin: 24px auto; }
  .browser:before {
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    bottom: 100%;
    content: '';
    display: block;
    left: -2px;
    position: absolute;
    right: -2px;
    top: -24px; }
  .browser:after {
    color: rgba(0, 0, 0, 0.1);
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    position: absolute;
    top: -30px; }
  .browser img {
    border-radius: 0 0 5px 5px; }

.phone {
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 48px auto;
  padding: 60px 4px;
  width: 45%; }
  .phone:after {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    bottom: 25px;
    content: '';
    display: block;
    height: 5px;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 40px; }
  .phone img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px; }

.document {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .document img {
    border-radius: 4px; }

.st3 {
  background-color: #232426;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  letter-spacing: 0;
  margin-right: -10vw;
  padding: 30px 5px 15px;
  position: relative; }
  .st3:before {
    color: #8D8D92;
    content: "...";
    display: inline-block;
    font-size: 70px;
    font-size: 7rem;
    left: 5px;
    letter-spacing: 0;
    line-height: 0;
    opacity: 0.3;
    position: absolute;
    top: -5px; }
  .st3 h2 {
    color: #9CA09F;
    font-family: "freight-sans-pro";
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    left: 0;
    margin: 5px 0;
    position: absolute;
    right: 10%;
    text-align: center;
    top: 0; }

pre {
  background-color: #1D1F21;
  color: #9CA09F;
  counter-reset: line;
  font-family: monospace;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  padding: 10px 0 0; }
  pre code .number,
  pre code .literal,
  pre code .symbol,
  pre code .bullet {
    color: #6897BB; }
  pre code .keyword,
  pre code .selector-tag,
  pre code .deletion {
    color: #cc7832; }
  pre code .variable,
  pre code .template-variable,
  pre code .link {
    color: #629755; }
  pre code .comment,
  pre code .quote {
    color: rgba(156, 160, 159, 0.5); }
  pre code .meta {
    color: #bbb529; }
  pre code .string,
  pre code .attribute,
  pre code .addition {
    color: #6A8759; }
  pre code .section,
  pre code .title,
  pre code .type {
    color: #ffc66d; }
  pre code .name,
  pre code .selector-id,
  pre code .selector-class {
    color: #e8bf6a; }
  pre code .emphasis {
    font-style: italic; }
  pre code .strong {
    font-weight: bold; }
  pre span {
    display: block;
    line-height: 1;
    margin-top: -1.5em; }
    pre span:last-child {
      margin-bottom: -1.5em; }
    pre span:before {
      color: rgba(141, 141, 146, 0.3);
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      margin-right: 0.5em;
      padding: 0 .5em;
      text-align: right;
      width: 1.8em; }
    pre span span {
      display: inline; }
      pre span span:before {
        content: '';
        display: none;
        margin-right: 0;
        padding: 0; }

ul.clients .ie a:before {
  background-color: rgba(185, 203, 65, 0.95); }

ul.clients .gk a:before {
  background-color: rgba(131, 169, 106, 0.95); }

ul.clients .batc a:before {
  background-color: rgba(234, 232, 226, 0.95); }

ul.clients .raven a:before {
  background-color: rgba(118, 202, 193, 0.95); }

ul.clients .nb a:before {
  background-color: rgba(245, 174, 57, 0.95); }

ul.clients .bfmn a:before {
  background-color: rgba(93, 138, 70, 0.95); }

ul.clients .vork a:before {
  background-color: rgba(221, 66, 51, 0.95); }

ul.clients .sb a:before {
  background-color: rgba(60, 125, 227, 0.95); }

ul.clients .vital a:before {
  background-color: rgba(245, 245, 245, 0.95); }

ul.clients .rt a:before {
  background-color: rgba(132, 66, 144, 0.95); }

ul.clients .oa a:before {
  background-color: rgba(182, 38, 48, 0.95); }

ul.clients .jb a:before {
  background-color: rgba(98, 166, 172, 0.95); }

ul.clients .keva a:before {
  background-color: rgba(16, 50, 85, 0.95); }

.client article {
  padding-top: 20vw; }

.client nav {
  clear: both;
  letter-spacing: -0.02em;
  text-align: right; }
  .client nav a {
    display: block;
    padding: 3vw 4vw; }
  .client nav span:first-child {
    opacity: 0.5; }
  .client nav .amp {
    padding: 0 0.12em; }
  .client nav.upper {
    display: none; }

.client .bg {
  background-position: -0.6vw -0.6vw;
  background-size: 100px auto;
  opacity: 0.25;
  transition: all 450ms ease-out; }

.client .brand {
  z-index: 999; }
  .client .brand a {
    height: 70px;
    opacity: 0;
    transition: all 250ms;
    transition-delay: unset;
    width: 110px; }

.client .tagline {
  opacity: 0 !important; }

.client header {
  color: #FFF;
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 0.9;
  margin-bottom: 100px; }
  .client header h1 {
    font-size: inherit;
    padding: 0 4vw; }
    .client header h1 .amp {
      left: -0.1em;
      position: relative; }
    .client header h1 > span {
      display: block; }
      .client header h1 > span.interstitial {
        font-size: 50%;
        font-style: italic;
        letter-spacing: 0;
        line-height: 1.333;
        opacity: 0.5; }
  .client header a.project {
    color: inherit;
    display: block;
    font-size: 50%;
    letter-spacing: -0.04em;
    opacity: 0.25;
    padding-left: 4vw; }
    .client header a.project:hover, .client header a.project:focus {
      opacity: 0.75;
      outline: 0; }

.client .see {
  padding: 0 4vw 4vw; }
  .client .see figure {
    margin-bottom: 4vw; }
    .client .see figure.device, .client .see figure.poster, .client .see figure.floaty {
      box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1); }
    .client .see figure.b10 {
      margin-bottom: 10vw; }
    .client .see figure.b20 {
      margin-bottom: 20vw; }
    .client .see figure.t10 {
      margin-top: 10vw; }
    .client .see figure.t20 {
      margin-top: 20vw; }
    .client .see figure.t30 {
      margin-top: 30vw; }
    .client .see figure.up10 {
      margin-top: -10vw; }
    .client .see figure.up20 {
      margin-top: -20vw; }
    .client .see figure.up30 {
      margin-top: -30vw; }
    .client .see figure.w80 {
      width: 80%; }
    .client .see figure.w90 {
      width: 90%; }
    .client .see figure.w110 {
      width: 110%; }
    .client .see figure.l {
      left: -2vw;
      position: relative; }
    .client .see figure.r {
      position: relative;
      right: -2vw; }
      .client .see figure.r.document {
        margin-left: auto;
        margin-right: -5.5vw; }
    .client .see figure.typeface {
      margin-bottom: 15vw; }
  .client .see img {
    display: block;
    height: auto;
    max-width: 100%; }

@media screen and (min-width: 1000px) {
  .client .bg {
    background-size: 12vw auto;
    position: fixed; }
  .client .brand {
    left: 0;
    position: fixed;
    top: 0; }
    .client .brand a {
      height: 8vw;
      width: 13vw; }
  .client header {
    font-size: 8vw;
    left: 0;
    position: fixed;
    top: 30vh; }
  .client nav.upper {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  .client .see {
    float: right;
    width: 50vw; } }

.client-ie {
  background-color: #B9CB41; }

.client-gk {
  background-color: #83A96A; }

.client-batc {
  background-color: #EAE8E2; }
  .client-batc header,
  .client-batc nav a {
    color: #000; }

.client-raven {
  background-color: #76CAC1; }

.client-nb {
  background-color: #f5AE39; }

.client-bfmn {
  background-color: #5D8A46; }

.client-vork {
  background-color: #DD4233; }

.client-sb {
  background-color: #3C7DE3; }

.client-vital {
  background-color: #F5F5F5; }
  .client-vital header,
  .client-vital nav a {
    color: #000; }

.client-rt {
  background-color: #844290; }

.client-oa {
  background-color: #B62630; }

.client-jb {
  background-color: #62A6AC; }

.client-keva {
  background-color: #103255; }

article {
  opacity: 1;
  transition: opacity .4s ease-in-out; }

.tagline-container,
li,
p {
  opacity: 1;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -ms-transform: translateY(0);
      transform: translateY(0); }

ul li:nth-child(1) {
  transition-delay: 0.1s; }

ul li:nth-child(2) {
  transition-delay: 0.2s; }

ul li:nth-child(3) {
  transition-delay: 0.3s; }

ul li:nth-child(4) {
  transition-delay: 0.4s; }

ul li:nth-child(5) {
  transition-delay: 0.5s; }

ul li:nth-child(6) {
  transition-delay: 0.6s; }

ul li:nth-child(7) {
  transition-delay: 0.7s; }

ul li:nth-child(8) {
  transition-delay: 0.8s; }

ul li:nth-child(9) {
  transition-delay: 0.9s; }

ul li:nth-child(10) {
  transition-delay: 1s; }

ul li:nth-child(11) {
  transition-delay: 1.1s; }

ul li:nth-child(12) {
  transition-delay: 1.2s; }

ul li:nth-child(13) {
  transition-delay: 1.3s; }

.wf-loading article,
.wf-loading .tagline-container,
.wf-loading li,
.wf-loading p {
  opacity: 0; }

.wf-loading .tagline-container,
.wf-loading li,
.wf-loading p {
  opacity: 0;
  -ms-transform: translateY(-20px);
      transform: translateY(-20px); }

@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards; }

@keyframes fadeOut {
  to {
    opacity: 0; } }

.fade-out {
  opacity: 1;
  animation: fadeOut 0.25s ease-in 1 forwards; }

.is-paused {
  animation-play-state: paused; }

.hide {
  display: none !important; }
